* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #06132D;
}

/* Navbar Css */
.Navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #06132D;
  border-bottom: 1px solid #cccccce7;
  top: 0;
  position: fixed;
  z-index: 1000;
}

.Navbar .logo img {
  width: 153px;
  height: 32px;
  cursor: pointer;
}

.Navbar .menu {
  width: 675px;
  height: 27px;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  color: #CCCCCC;
}

.Navbar .menu div:hover {
  cursor: pointer;
  color: #FFFF;
}

.Navbar button {
  width: 180px;
  height: 50px;
  background-color: #0047B8;
  color: #FFFF;
  border-radius: 10px;
  cursor: pointer;
}

/* ////////////// */

/* Hero Css */


.Hero {
  margin: 60px;
  height: 653px;
  display: flex;
  margin-top: 120px;
  /* position: relative; */
  /* justify-content: space-between; */
}

/* --Hero-title */
.Hero-title .text-title-1 {
  width: 600px;
  height: 264px;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  font-family: 'Noto Sans JP';
  text-transform: capitalize;
  color: #FFFF;
}

.Hero-title .text-title-2 {
  width: 539px;
  height: 84px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  font-family: 'DM Sans';
  font-style: normal;
  color: #FFFF;
}

.btn-box1 {
  width: 200px;
  height: 55px;
  background-color: #1F75FF;
  color: #FFFF;
  border-radius: 8px;
  margin: 10px 10px 10px -4px;
  cursor: pointer;
}

.btn-box2 {
  width: 200px;
  height: 55px;
  background-color: #06132D;
  border: 0.5px solid #ffffff8c;
  color: #FFFF;
  border-radius: 8px;
  margin: 10px;
  margin: 10px;
  cursor: pointer;
}

/* ----- */

/* --Hero-cards */
.Cards {
  display: flex;
  overflow: hidden;
}


.Hero-cards {
  width: 400px;
  height: 650px;
  border-radius: 15px;
  background-color: #0E1E45;
  margin: 0 2rem;
}

.card-NFT1 {
  padding: 20px;
}

.Hero-cards .card-NFT1 img {
  width: 360px;
  height: 405px;
}

.NFT-title-name {
  width: max-content;
  height: 48px;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #FFFF;
}

.profile {
  height: 10vh;
  margin-top: 10px;
  display: flex;
  border-bottom: 1px solid #FFFF;
}

.profile .img-user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profile .title-user {
  color: #FFFF;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 34px;
  margin-left: 10px;
}

.cardboard {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.Cbid {
  font-size: 1rem;
  color: #ccccccec;
}

.eth {
  font-size: 1.4rem;
  color: #FFFF;
  margin: 10px 0;
}

/* .cardboard button{
  width: 10.3125rem;
  height: 3.3rem;
  border-radius: 10px;
  background-color: #0E1E45;
  border: 1px solid #CCCCCC;
  color: #FFFF;
  cursor: pointer;
} */

.cardboard button {
  width: 10.3125rem;
  height: 3.3rem;
  border-radius: 10px;
  background-color: #1F75FF;
  border: none;
  color: #FFFF;
  cursor: pointer;
}


.card-NFT2 {
  padding: 20px;
}

.Hero-cards .card-NFT2 img {
  width: 360px;
  height: 405px;
}

.Hero-cards2 {
  width: 400px;
  height: 34rem;
  border-radius: 15px;
  background-color: #0E1E45;
}

.profile2 {
  height: 10vh;
  margin-top: 10px;
  display: flex;
}

.profile2 .img-user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profile2 .title-user {
  color: #FFFF;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 34px;
  margin-left: 10px;
}

.sliders {
  width: 3.25rem;
  height: 4rem;
  font-size: 1rem;
  margin-top: 1.8rem;
  color: #ccccccec;
  display: flex;
}


.sliders .sp1 {
  font-size: 3rem;
  color: #FFFF;
}

.sliders .sp2 {
  line-height: 5rem;
}

/* ----- */
/* ///////////// */


/* Live auctions Css */
.live-auctions {
  margin: 3.75rem;
}

.live-auctions .title-live-auctions {
  display: flex;
  justify-content: space-between;
}

.live-auctions .title-live-auctions h3 {
  font-size: 3rem;
  color: #FFFF;
}

.title-live-auctions .btn-ri-le {
  display: flex;
}

.btn-ri-le .ri-le {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #0E1E45;
  color: #1F75FF;
}

.btn-ri-le .ri-le:hover {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #1F75FF;
  color: #FFFF;
}

.live-auctions-cards {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}

.cards-NFTs {
  width: 24.7rem;
  height: 670px;
  border-radius: 15px;
  background-color: #0E1E45;
}

.cards-NFTs .NFTCards {
  padding: 0.9375rem;
}

.NFTCards .profiles {
  height: 10vh;
  margin-top: 10px;
  display: flex;
}

.profiles .img-user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profiles .title-user {
  color: #FFFF;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 34px;
  margin-left: 10px;
}

.cardboard2 {
  display: flex;
  justify-content: space-between;
}

.NFTCards button {
  width: 23rem;
  height: 3rem;
  border-radius: 8px;
  background-color: #0E1E45;
  border: 1px solid #CCCCCC;
  color: #FFFF;
}

.NFTCards button:hover {
  width: 23rem;
  height: 3rem;
  border-radius: 8px;
  background-color: #1F75FF;
  border: none;
  color: #FFFF;
  cursor: pointer;
}

/* ///////////// */


/* Explore-art Css */
.Explore-art {
  margin: 3.75rem;
}

.Explore-art .title-Explore-art h3 {
  font-size: 3rem;
  color: #FFFF;
}

.category {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.btns-categorys button {
  margin-right: 10px;
  padding: 8px 25px;
  border-radius: 8px;
  border: 1px solid #cccccca1;
  background-color: #06132D;
  color: #FFFF;
  cursor: pointer;
}

.btns-categorys button:hover {
  padding: 8px 25px;
  border-radius: 8px;
  border: 1px solid #0047B8;
  background-color: #0047B8;
  color: #FFFF;
}

.btns-categorys-menu button {
  padding: 8px 25px;
  border-radius: 8px;
  border: 1px solid #cccccca1;
  background-color: #06132D;
  color: #FFFF;
  cursor: pointer;
}

.btns-categorys-menu button:hover {
  padding: 8px 25px;
  border-radius: 8px;
  border: 1px solid #0047B8;
  background-color: #0047B8;
  color: #FFFF;
}

.btns-categorys-menu button i {
  margin-left: 10px;
  color: #FFFF;
  z-index: 1;
}

.categorys-cards {
  margin-top: 2.5rem;
}

.categorys-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.categorys-cards .cards-NFTs {
  margin: 6px;
}

/* ////////////// */

/* Popular Artist Css */
.Popular-artist {
  margin: 10rem 3.75rem;
}

.Popular-artist .title-Popular-artist h3 {
  font-size: 3rem;
  color: #FFFF;
}

.title-Popular-artist {
  display: flex;
  justify-content: space-between;
}

.title-Popular-artist .btn-ri-le {
  display: flex;
}

.list-artists {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.artist {
  width: 20rem;
  height: 4rem;
  display: flex;
  margin: 0 2rem;
}

.artist .stt-munber {
  width: 1.8rem;
  height: 2rem;
  line-height: 3rem;
  font-size: 1.2rem;
  color: #FFFF;
}

.artist .img-artist img {
  width: 2.8rem;
  height: 2.8em;
  margin: 0 1rem;
  border-radius: 50%;

}

.artist-users .name-user {
  width: 10rem;
  height: 2rem;
  color: #FFFF;
  font-size: 1.2rem;
}

.artist-users .email-user {
  color: #ccccccdc;
}

/* /////////////// */


/* Popular Articles */
.Popular-articles {
  margin: 3.75rem;
}

.Popular-articles .title-Popular-articles h3 {
  font-size: 3rem;
  color: #FFFF;
}

.title-Popular-articles {
  display: flex;
  justify-content: space-between;
}

.Popular-articles .title-Popular-articles button {
  width: 12rem;
  height: 3rem;
  border-radius: 7px;
  background-color: #06132D;
  border: 1px solid #ccccccd5;
  color: #FFFF;
}

.Popular-articles .title-Popular-articles button:hover {
  width: 12rem;
  height: 3rem;
  border-radius: 7px;
  background-color: #1F75FF;
  border: 1px solid #1F75FF;
  color: #FFFF;
}


.list-card-Popular {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 2rem 0;
}

.cards-NFTs-article1 {
  width: 50rem;
  height: 45rem;
  padding: 17px;
  border-radius: 15px;
  background-color: #0E1E45;
  margin: 1rem 0;
}

.cards-NFTs-article2 {
  margin: 1rem 0;
}



.cards-NFTs-article1 .NFTCards .image img {
  width: 48rem;
  height: 25rem;
  border-radius: 20px;

}

.NFT-title-name2 {
  width: 48rem;
  height: 6rem;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 3rem;
  color: #FFFF;
}

.title-content {
  font-size: 1rem;
  color: #CCCCCC;
  margin-top: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;
}

.cards-NFTs-article2 {
  width: 25rem;
  height: 45rem;
  padding: 17px;
  border-radius: 15px;
  background-color: #0E1E45;
}

.NFT-title-name3 {
  width: 24rem;
  height: 6rem;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #FFFF;
  margin-bottom: 1.6rem;
}

/* ////////////// */


/* CTA Css */
.CTA {
  width: 91%;
  height: 28rem;
  text-align: center;
  background-color: #2c5dab;
  margin: 3.75rem;
  padding: 5rem;
  border-radius: 6px;
}

.CTA .title1-cta {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
}

.CTA .title1-cta p {
  width: 68%;
  color: #f3f3f3;
  margin: 1rem;
}

.CTA .title2-cta {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
  margin-bottom: 4rem;
}

.title2-cta p {
  width: 70%;
  color: #CCCCCC;
}

.ipt-cta {
  width: 50%;
  height: 3rem;
  /* border: 1px solid; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.ipt-cta input {
  width: 74%;
  padding: 0 1.5rem;
  border-radius: 6px;
  background-color: #0E1E45;
  color: #FFFF;
  outline: 1px solid #06132D;
  border: none;
}

.ipt-cta button {
  width: 22%;
  border-radius: 6px;
  outline: none;
  border: 1px solid #1F75FF;
  background-color: #1F75FF;
  color: #FFFF;
  cursor: pointer;
}

/* ////////////// */

/* Footer */
.Footer {
  margin: 39vh 3.7rem 7vh 3.7rem;
}

.box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}


.Footer .Footer-box1 .logo img {
  width: 156px;
  height: 32px;
  cursor: pointer;
}

.Footer-box1 {
  width: 30rem;
  height: max-content;
}

.Footer-box1 .texts-title {
  font-size: 1rem;
  line-height: 1.2rem;
  color: #CCCCCC;
  margin: 15px 3px;
}

.Footer-box2 {
  width: max-content;
  color: #FFFF;
  font-size: 1rem;
  font-weight: 300;

}

.Footer-box2 p {
  font-weight: 700;
  font-size: 2rem;
}

li {
  list-style: none;
  margin: 1rem 0;
}

.box-text {
  display: flex;
  justify-content: space-between;
  color: #cccccca1;
  margin-top: 2rem;
}


.text-t {
  width: 25rem;
  display: flex;
  justify-content: space-between;

}

/* ////////// */


/* //////// LOGIN CSS */
.from-login {
  width: 100%;
  height: 100vh;
  background-color: #06132D;
  display: flex;
}

.from-login img {
  width: 60%;
  height: 100%;
  margin: auto;
  opacity: calc(0.6);
}

.Login {
  width: 40%;
  height: 100%;
  margin: auto;
  position: relative;
  z-index: 100;
  background-color: #FFFF;
}

.extra-login {
  padding: 5rem 3.7rem 3.7rem;
}

.Login-title {
  margin-bottom: 4rem;
}

.Login-title h2 {
  font-size: 2.7rem;
  margin-bottom: 0.9rem;
}

.Login-title p {
  font-size: 1.5rem;
}

.Login-inpt {
  width: 100%;
}

.Login-inpt span {
  color: red;
  margin-left: 1.6rem;
}

.Login-inpt .inpts {
  margin-bottom: 1.5vh;
}

.Login-inpt .inpts i {
  position: absolute;
  padding: 1.7rem;
  font-size: 1.4rem;
}

.Login-inpt .inpts input {
  width: 100%;
  height: 3.4rem;
  border-radius: 50px;
  outline: none;
  border: 1px solid black;
  padding: 0 3.6rem;
  margin: 2vh 0;
}


.Login-inpt .inpt-password .password-forgotpassword {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7vh;
}

.extra-login .Login-btn button {
  width: 100%;
  height: 8.5vh;
  border: none;
  border-radius: 28px;
  margin: 3vh 0;
  background-image: linear-gradient(135deg, #ff0a6c -16.8%, #2d27ff 138.64%);
  color: #FFFF;
}

.extra-login .back {
  text-align: center;
}

/* ////// */